In [1]:
import pandas as pd

# 1. Data Exploaration and Cleaning

In [4]:
df = pd.read_csv("wppool_growth_data_sample_20k.csv")

In [5]:
df

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,NaN,NaN,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,NaN,NaN,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,NaN,NaN,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,5/6/2023,9/29/2023,Free,USA,100,300,0,1,146,NaN,NaN,0,0
19996,19997,9/4/2023,9/21/2023,Pro,Germany,93,372,0,1,17,9/21/2023,Basic,49,1
19997,19998,4/1/2023,6/14/2023,Free,India,37,185,0,1,74,NaN,NaN,0,0
19998,19999,1/28/2023,12/26/2023,Pro,Australia,99,198,0,1,332,12/26/2023,Enterprise,29,0
19999,20000,12/31/2023,1/1/2024,Free,Canada,141,282,0,1,1,NaN,NaN,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            20000 non-null  int64
 1   install_date       20000 non-null  object
 2   last_active_date   20000 non-null  object
 3   subscription_type  20000 non-null  object
 4   country            20000 non-null  object
 5   total_sessions     20000 non-null  int64
 6   page_views         20000 non-null  int64
 7   download_clicks    20000 non-null  int64
 8   activation_status  20000 non-null  int64
 9   days_active        20000 non-null  int64
 10  pro_upgrade_date   4029 non-null   object
 11  plan_type          4029 non-null   object
 12  monthly_revenue    20000 non-null  int64
 13  churned            20000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 2.1+ MB

In [8]:
df.head()

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,NaN,NaN,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,NaN,NaN,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,NaN,NaN,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,NaN,NaN,0,0

In [10]:
df.duplicated().sum()

0